<!doctype html>
<html>
<head>
    <title>ProtoStar Test</title>
    <link rel="stylesheet" type="text/css" href="/ps/ext/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/less/style.less?compile"/>
</head>
<body>
<div class="container">
    <ul class="nav">
        <!-- content:nav -->
        <!-- disabled file:_dynamic/list-referencing-bare -->
    </ul>
</div>

<div class="container">
<div class="top">
    <!-- content:top -->
    <!-- disabled layout:layouts/fullPage:component/myEditableComponent -->
</div>
<div class="bottom">
    <!-- content:top -->
    <!-- disabled file:component/myComponent -->
</div>
</div>
<!-- file:/ps/assets/viewScripts -->
</body>
</html>
