node_modules
bower_components
.idea
*.iml
.settings
.project
.classpath
# following line only works in git 1.8+
projects/**/*-compiled.html
# to prevent compiled templates from being tracked in projects dir
projects/*/*-compiled.html
projects/*/*/*-compiled.html
_dynamic/
screenshots/
bin/Protostar.desktop
bin/protostar
.directory
core/config/config.json
core/backend/compiled/*.html
bin/Protostar.app
core/assets/help.html
core/backend/help.html
npm-debug.log
core/backend/newPortalThemeCompiled.html
core/backend/projectConfigCompiled.html
bin/protostar.bat
core/backend/style-backend-compiled.css
projects/sample/less/styles-compiled.css
projects/test/less/style-compiled.css
